{% extends "layout.html" %}

{% block main %}

    <link href="/static/reset_password.css" rel="stylesheet">
    <div class="reset-password-container">
        <h1 class="reset-password-title">Reset your password</h1>
        <form method="post" action="/reset_password/{{ username }}" class="reset-password-form">
            <div class="form-group">
                <label for="new_password">New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset" class="submit-button">
            </div>
        </form>
    </div>

<!-- First version of html file before css style -->

<!-- <h1>Réinitialiser le Mot de Passe</h1>
    <form method="post" action="/reset_password/{{ username }}">
        <label for="new_password">Nouveau Mot de Passe:</label><br>
        <input type="password" id="new_password" name="new_password" required><br>

        <label for="confirm_password">Confirmer le Nouveau Mot de Passe:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <input type="submit" value="Réinitialiser">
    </form> -->

{% endblock %}
